<a href="https://colab.research.google.com/github/yousifalasfar/-group-project-pitch-spork/blob/main/YA_Pandas_datetime_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Pandas Date&time Methods**

In Python, date and time are not a data type of their own, but a module named datetime can be imported to work with the date as well as time. Python Datetime module comes built into Python, so there is no need to install it externally.

 **System Requierments**

*   Jupyter Notebook (in VScode, Google Colab, or Anaconda), Python, and Requests.

**Installations & Imports**

In [680]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [681]:
#Read the csv file
df =(pd.
read_csv('https://raw.githubusercontent.com/CoreyMSchafer/code_snippets/master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv')
)
df

                   Date  Symbol    Open    High     Low   Close      Volume
0      2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1      2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2      2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3      2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4      2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                 ...     ...     ...     ...     ...     ...         ...
23669  2017-07-01 03-PM  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670  2017-07-01 02-PM  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671  2017-07-01 01-PM  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672  2017-07-01 12-PM  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673  2017-07-01 11-AM  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [682]:
# Jsut to give you an idea about the dats you're wroking on (rows, columns)
df.shape

(23674, 7)

---> **to_datetime** 

*  In order to to use datetime functions on a column,  dtype the of column must be datetime

*   We can convert column to datetime by using to_datetime()

In [683]:
#Check the dtype of cloumns and notice that date is ab object
df.dtypes

Date       object
Symbol     object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

atrptime(str, format)
*   This function takes a string and format as an arrguments and to converts the string to time object

In [684]:
pd.datetime.strptime(df.iloc[0,0], '%Y-%M-%d %H-%p')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

datetime.datetime(2020, 1, 13, 8, 3)

*  We need to convert Date column to datetime using to_datetime()
* In order for datetime to work we need to tell pandas which fromat we wish it to be
* Here is a link to docs for formatting symbols for python in general
* https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [685]:
# %I Hour (12-hour clock) as a zero-padded decimal number.
#%p Localeâ€™s equivalent of either AM or PM.

df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %I-%p')
df

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [686]:
#Check again!!
df.Date

# It's datetime64[ns] now

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [687]:
# We can convert to utc 
df['Date'] = pd.to_datetime(df['Date'], utc=True)
df

,Date,Symbol,Open,High,Low,Close,Volume
0,2020-03-13 20:00:00+00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93
1,2020-03-13 19:00:00+00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09
2,2020-03-13 18:00:00+00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81
3,2020-03-13 17:00:00+00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92
4,2020-03-13 16:00:00+00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71
...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00+00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55
23670,2017-07-01 14:00:00+00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85
23671,2017-07-01 13:00:00+00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99
23672,2017-07-01 12:00:00+00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87
23673,2017-07-01 11:00:00+00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87

In [688]:
parser = lambda x: datetime.strptime(x, '%Y-%m-%d %H-%p')
df =pd.read_csv('https://raw.githubusercontent.com/CoreyMSchafer/code_snippets/master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv', parse_dates=['Date'], date_parser=parser)
df

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 08:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 07:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 06:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 05:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 04:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 03:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 02:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 01:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

**--> to_timedelta**


*  Timedeltas are absolute differences in times, expressed in difference units (e.g. days, hours, minutes, seconds).
*  This method converts an argument from a recognized timedelta format / value into a Timedelta type.

In [689]:
#Once we have a datetime object, we can use the timedelta class to add time to it.
#Exsample will show possible arguments and they all optional too
ti = df.iloc[0,0] + timedelta(weeks=2, days=2,hours=2,  minutes=25, seconds=24, milliseconds=29000, microseconds=10)
ti

Timestamp('2020-03-29 10:25:53.000010')

In [690]:
#Might use it to get a current date & time too
datetime.today()

datetime.datetime(2022, 10, 10, 22, 19, 2, 631339)

**-->Timetamp**

In [691]:
pd.Timestamp(df.iloc[0,0], unit='s', tz='Europe/Stockholm')

Timestamp('2020-03-13 08:00:00+0100', tz='Europe/Stockholm')

Once we have our time coverted to datetime object then will have access to more functionaly.

In [692]:
# NOW we can run functions Like day_name() or .year, .month, .day etc
df.iloc[0,0].year
df.iloc[0,0].month
df.iloc[0,0].day
df.iloc[0,0].day_name()
df.iloc[0,0].date()
df.iloc[0,0].time()

datetime.time(8, 0)

In [693]:
#You can run the previuos func on a list or series of values by usig dt class
df.Date.dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [694]:
#You might use the above code to create a cloumn for easy refrence
#used insert just to re-order columns
df['Day'] = df.Date.dt.day_name()
df.insert(1, 'Day', df.pop('Day'))
df

,Date,Day,Symbol,Open,High,Low,Close,Volume
0,2020-03-13 08:00:00,Friday,ETHUSD,129.94,131.82,126.87,128.71,1940673.93
1,2020-03-13 07:00:00,Friday,ETHUSD,119.51,132.02,117.10,129.94,7579741.09
2,2020-03-13 06:00:00,Friday,ETHUSD,124.47,124.85,115.50,119.51,4898735.81
3,2020-03-13 05:00:00,Friday,ETHUSD,124.08,127.42,121.63,124.47,2753450.92
4,2020-03-13 04:00:00,Friday,ETHUSD,124.85,129.51,120.17,124.08,4461424.71
...,...,...,...,...,...,...,...,...
23669,2017-07-01 03:00:00,Saturday,ETHUSD,265.74,272.74,265.00,272.57,1500282.55
23670,2017-07-01 02:00:00,Saturday,ETHUSD,268.79,269.90,265.00,265.74,1702536.85
23671,2017-07-01 01:00:00,Saturday,ETHUSD,274.83,274.93,265.00,268.79,3010787.99
23672,2017-07-01 12:00:00,Saturday,ETHUSD,275.01,275.01,271.00,274.83,824362.87
23673,2017-07-01 11:00:00,Saturday,ETHUSD,279.98,279.99,272.10,275.01,679358.87

In [695]:
# The earliest date by max() and the oldest date bt min()
#The most recent
df.Date.max()

Timestamp('2020-03-13 12:00:00')

In [696]:
# The Oldest
df.Date.min()

Timestamp('2017-07-01 01:00:00')

In [697]:
#The differnce between date would five the timedelta or the time between in days and hours
df.Date.max() - df.Date.min()

Timedelta('986 days 11:00:00')

In [698]:
#We can filter the data  we can get a data range or comperison
filter = df.Date > '2019-03-20'
df.loc[filter]

,Date,Day,Symbol,Open,High,Low,Close,Volume
0,2020-03-13 08:00:00,Friday,ETHUSD,129.94,131.82,126.87,128.71,1940673.93
1,2020-03-13 07:00:00,Friday,ETHUSD,119.51,132.02,117.10,129.94,7579741.09
2,2020-03-13 06:00:00,Friday,ETHUSD,124.47,124.85,115.50,119.51,4898735.81
3,2020-03-13 05:00:00,Friday,ETHUSD,124.08,127.42,121.63,124.47,2753450.92
4,2020-03-13 04:00:00,Friday,ETHUSD,124.85,129.51,120.17,124.08,4461424.71
...,...,...,...,...,...,...,...,...
8632,2019-03-20 04:00:00,Wednesday,ETHUSD,136.80,136.93,136.65,136.92,142096.49
8633,2019-03-20 03:00:00,Wednesday,ETHUSD,137.15,137.17,136.78,136.80,221582.92
8634,2019-03-20 02:00:00,Wednesday,ETHUSD,136.93,137.18,136.93,137.15,130715.62
8635,2019-03-20 01:00:00,Wednesday,ETHUSD,136.54,137.12,136.54,136.93,373206.37
8636,2019-03-20 12:00:00,Wednesday,ETHUSD,138.15,138.41,136.43,136.54,754098.31

In [699]:
#We can filter the data  we can get a data range or comperison
# I don't know why I say greater than > and it's the same as >=
filter = (df['Date'] > '2019-03-20') & (df['Date'] < '2020-03-20')
#filter = (df.Date > pd.to_datetime('2019-03-20')) & (df.Date < pd.to_datetime('2020-03-20'))
df.loc[filter]

,Date,Day,Symbol,Open,High,Low,Close,Volume
0,2020-03-13 08:00:00,Friday,ETHUSD,129.94,131.82,126.87,128.71,1940673.93
1,2020-03-13 07:00:00,Friday,ETHUSD,119.51,132.02,117.10,129.94,7579741.09
2,2020-03-13 06:00:00,Friday,ETHUSD,124.47,124.85,115.50,119.51,4898735.81
3,2020-03-13 05:00:00,Friday,ETHUSD,124.08,127.42,121.63,124.47,2753450.92
4,2020-03-13 04:00:00,Friday,ETHUSD,124.85,129.51,120.17,124.08,4461424.71
...,...,...,...,...,...,...,...,...
8632,2019-03-20 04:00:00,Wednesday,ETHUSD,136.80,136.93,136.65,136.92,142096.49
8633,2019-03-20 03:00:00,Wednesday,ETHUSD,137.15,137.17,136.78,136.80,221582.92
8634,2019-03-20 02:00:00,Wednesday,ETHUSD,136.93,137.18,136.93,137.15,130715.62
8635,2019-03-20 01:00:00,Wednesday,ETHUSD,136.54,137.12,136.54,136.93,373206.37
8636,2019-03-20 12:00:00,Wednesday,ETHUSD,138.15,138.41,136.43,136.54,754098.31

##Indexing Date

We can pass Date to our index and then filter by passing the date directley

In [700]:
#Set the Dat cloumn to index
df.set_index('Date', inplace=True)
df

,Day,Symbol,Open,High,Low,Close,Volume
Date,,,,,,,
2020-03-13 08:00:00,Friday,ETHUSD,129.94,131.82,126.87,128.71,1940673.93
2020-03-13 07:00:00,Friday,ETHUSD,119.51,132.02,117.10,129.94,7579741.09
2020-03-13 06:00:00,Friday,ETHUSD,124.47,124.85,115.50,119.51,4898735.81
2020-03-13 05:00:00,Friday,ETHUSD,124.08,127.42,121.63,124.47,2753450.92
2020-03-13 04:00:00,Friday,ETHUSD,124.85,129.51,120.17,124.08,4461424.71
...,...,...,...,...,...,...,...
2017-07-01 03:00:00,Saturday,ETHUSD,265.74,272.74,265.00,272.57,1500282.55
2017-07-01 02:00:00,Saturday,ETHUSD,268.79,269.90,265.00,265.74,1702536.85
2017-07-01 01:00:00,Saturday,ETHUSD,274.83,274.93,265.00,268.79,3010787.99
2017-07-01 12:00:00,Saturday,ETHUSD,275.01,275.01,271.00,274.83,824362.87
2017-07-01 11:00:00,Saturday,ETHUSD,279.98,279.99,272.10,275.01,679358.87

In [701]:
#So now we can filter easy like this
df['2019']
#Or get a range of data
df['2019-10' : '2020-02']
df['2019-10']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """

,Day,Symbol,Open,High,Low,Close,Volume
Date,,,,,,,
2019-10-31 11:00:00,Thursday,ETHUSD,181.50,182.99,181.33,182.38,76352.48
2019-10-31 10:00:00,Thursday,ETHUSD,181.96,182.65,180.91,181.50,282013.99
2019-10-31 09:00:00,Thursday,ETHUSD,181.81,183.04,180.08,181.96,1071386.43
2019-10-31 08:00:00,Thursday,ETHUSD,183.40,183.57,180.69,181.81,932336.67
2019-10-31 07:00:00,Thursday,ETHUSD,183.10,183.61,182.74,183.40,231080.01
...,...,...,...,...,...,...,...
2019-10-01 04:00:00,Tuesday,ETHUSD,182.76,184.05,182.52,183.02,504689.64
2019-10-01 03:00:00,Tuesday,ETHUSD,184.06,185.89,182.21,182.76,2569460.17
2019-10-01 02:00:00,Tuesday,ETHUSD,181.82,184.75,181.82,184.06,1385165.07
2019-10-01 01:00:00,Tuesday,ETHUSD,179.14,182.70,178.40,181.82,1351833.57
2019-10-01 12:00:00,Tuesday,ETHUSD,181.17,181.80,178.72,179.14,710407.18

In [702]:
#you could simply pass in a year (in the format 'yyyy') or year-month parts ('yyyy-mm').
df.loc['2019', 'Close'] #This would return data for the whole year
df.loc['2019-09', 'Close'] #This would return the data for the whole month in that year

Date
2019-09-30 11:00:00    181.17
2019-09-30 10:00:00    177.54
2019-09-30 09:00:00    177.56
2019-09-30 08:00:00    176.99
2019-09-30 07:00:00    178.13
                        ...
2019-09-01 04:00:00    172.77
2019-09-01 03:00:00    172.75
2019-09-01 02:00:00    172.84
2019-09-01 01:00:00    172.87
2019-09-01 12:00:00    172.71
Name: Close, Length: 720, dtype: float64

##Resampling Pandas DataFrames using DateTimes

The Pandas .resample() method allows you to resample a dataset with a timeseries index. The method accepts a periodicity that you want to resample to, such as 'W' for week or 'H' for hour. Since youâ€™ll want to provide some method by which to invent your data, you can chain in another method, such as .mean(), max(), etc. to resample with that aggregation function. Letâ€™s resample our hourly data to daily data

In [703]:
#resampling Yearly
# Y = year, M = month, W = week, D =day, H = hour
df.resample('Y').mean()

                  Open        High         Low       Close        Volume
Date
2017-12-31  351.863442  354.775251  348.692225  351.966277  2.948845e+06
2018-12-31  481.001922  484.673551  476.769732  480.932120  2.733347e+06
2019-12-31  180.752257  181.766612  179.656623  180.752030  9.360009e+05
2020-12-31  197.568662  199.030543  195.993762  197.568759  1.415723e+06

In [704]:
# Resampling Data with Different Methods
df.resample('D').agg({
    'Close': 'last',
    'High': 'max',
    'Low': 'min',
    'Open': 'first',
    'Volume': 'sum'
})

             Close    High     Low    Open        Volume
Date
2017-07-01  274.83  279.99  253.23  274.83  2.858402e+07
2017-07-02  259.90  293.73  255.70  265.89  5.226229e+07
2017-07-03  282.36  285.00  273.07  276.38  3.501635e+07
2017-07-04  277.69  282.83  265.00  281.00  3.010991e+07
2017-07-05  266.92  274.97  252.67  262.00  4.315016e+07
...            ...     ...     ...     ...           ...
2020-03-09  203.51  208.65  189.85  204.63  9.131404e+07
2020-03-10  203.42  206.28  195.17  205.79  3.727352e+07
2020-03-11  202.23  202.98  181.00  196.65  4.547683e+07
2020-03-12  193.44  195.64  101.22  137.67  1.800737e+08
2020-03-13  107.09  148.00   90.00  131.35  1.442618e+08

[987 rows x 5 columns]

**--> date_range**


* Returns the range of equally spaced time points (where the difference between 
any two adjacent points is specified by the given frequency)

In [705]:
pd.date_range(start='1/1/2018', end='1/08/2018')

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')

In [706]:
#Specify start, end or both date and periods, the number of periods (days).
pd.date_range(end='1/1/2018', periods=8)
pd.date_range(start='1/1/2018', periods=8)
pd.date_range(start='2018-04-24', end='2018-04-27', periods=3)

DatetimeIndex(['2018-04-24 00:00:00', '2018-04-25 12:00:00',
               '2018-04-27 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [707]:
#Changed the freq (frequency) to 'M' (month end frequency).
pd.date_range(start='1/1/2018', periods=5, freq='3M')

DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
               '2019-01-31'],
              dtype='datetime64[ns]', freq='3M')

In [708]:
#Specify tz to set the timezone.
pd.date_range(start='1/1/2018', periods=5, tz='Asia/Tokyo')

DatetimeIndex(['2018-01-01 00:00:00+09:00', '2018-01-02 00:00:00+09:00',
               '2018-01-03 00:00:00+09:00', '2018-01-04 00:00:00+09:00',
               '2018-01-05 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='D')